.bodyregist{
    background-image: url('https://cdn.pixabay.com/photo/2018/04/11/08/42/composition-3309860_960_720.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

  }
  .headerhome{
    display: flex;
    justify-content: space-between;
    background-color:#36cbf1;
    position: sticky;
    top: 0;
  }
  .menu {
    float: right;
    list-style: none;
    margin-top: 10px;
    
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu ul li a {
    color: #fcf9f9;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "poppins", sans-serif;
    font-size: 20px;
  }
  
  .menu ul li a:hover {
    color: rgb(12, 12, 12);
  }
  h1{
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;
    max-width: 600px;
    box-sizing: border-box;
  }
  h2{
    margin: 0px;
  }
  #formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #form{
    max-width: 450px;
    background-image: linear-gradient(to right, #64B2CC 30%, #657980);
  }
  .formGR{
    display: flex;
    justify-content: space-between;
  }
  fieldset{
    border-width: 5px;
    padding: 10px 20px 20px 20px;
    border-color: #f2f2f2;
    justify-content: center;
  }
  input , select{
    margin: 7px 7px 7px 0px;
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
  }
  #fullName{
    display: flex;
    flex-wrap: wrap;
  }
  #fullName input{
    flex-grow: 1;
  }
  #otherInputs{
    display: flex;
    flex-wrap: wrap;
  }
  #otherInputs input{
    width: 100%;
  }
  #submit{
    display: block;
    margin: 0 auto;
    padding: 12px 0px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color: #3E6F80;
    color: rgb(253, 251, 253);
    cursor: pointer;
  }
  
    