.log{
    background-image: url("https://th.bing.com/th/id/OIP.O-VunXNUfZJHUF-U6ILNjAHaEj?w=270&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-repeat: no-repeat;
  background-size: 100%;
    margin:30px;
    height: 350px;
    text-align:  center;
    display: flex;
    align-items: center;
    justify-content: center;
      text-align:  center;
  }
  .inp{
    display: flex;
  align-items: center;
  justify-content: center;
    text-align:  center;
  }
 .log  h1{
    color: black;
  }
  .inp input{
    width: 250px;
    /* height: 40px; */
  }
  .inp select{
    width: 250px;
    /* height: 40px; */
  }
  .inp button{
    width: 150px;
  }

  .grid-container {
    display: grid;
    gap: 24px;
   
    grid-template-columns: repeat(3, 1fr)}