/* {
    margin: 0;
    padding: 0;
  }*/
  .headerhome{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 25, 252);
    position: sticky;
    top: 0;
  }
  .banner-area {
    
    background-position: center center;
    background-size: cover;
    /* -webkit-background-size:cover ; */
    height: 100vh;
    width: auto;
   /* margin: auto;*/
  }
  footer{
    display: block;
    justify-content: flex-end;
  }
  .menu {
    float: right;
    list-style: none;
    margin-top: 10px;
    
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu ul li a {
    color: #0c0b0b;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "poppins", sans-serif;
    font-size: 20px;
  }
  
  .menu ul li a:hover {
    color: rgb(153, 139, 255);
  }
  
  /* .logo{
      height: 20%;
      float: left;
      color: azure;
      list-style: none;
  
  } */
  .banner-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
  }
  
  .banner-text h1 {
    text-align: center;
    color: rgb(21, 20, 22);
    text-transform: uppercase;
    font-size: 60px;
    font-family: "poppins", sans-serif;
  }
  
  .banner-text p {
    color: #fff;
    font-size: 18px;
  }
  
  .banner-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
  }
  
  .banner-text a:hover {
    background-color: white;
    color: rgba(68, 25, 109, 0.623);
    font-weight: bold;
  }
  .log{
    background-image: url("https://th.bing.com/th/id/OIP.O-VunXNUfZJHUF-U6ILNjAHaEj?w=270&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-repeat: no-repeat;
  background-size: 100%;
    margin:70px;
    height: 350px;
    display: flex;
  align-items: center;
  justify-content: center;
    text-align:  center;

  }
  .log button{
    width: 500px;
    
  }
  .pos{
    padding-left: 300px;
    padding-right: 300px;
  }
  .pos h1{
    color:red;
    text-align: center;
  }

  .dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: #fcfbfe;
    box-shadow: 0 5px 10px 0 #0e0e0d;
    z-index: 1;
    padding: 10px 11px;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content li{
    list-style-type: none
  }
  .dropdown-content li:hover {
    
    color: #00b39b;
          }