
/* {
  box-sizing: border-box;
}*/
.bodynav {
    margin: 0;
    font-family: 'Segoe UI';
    position: sticky;
    top: 0;
  }
  .dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: #fcfbfe;
    box-shadow: 0 5px 10px 0 #0e0e0d;
    z-index: 1;
    padding: 10px 11px;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content li{
    list-style-type: none
  }
  .dropdown-content li:hover {
    
    color: #00b39b;
          }
  .navi {
    width: 100%;
    background-color: rgb(36, 25, 252);
    display: flex;
    align-items: center;
  }
  .navi > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .navi > .nav-header > .nav-title {
    font-size: 22px;
    color: #fff;
  }
  .navi > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .navi > .nav-list > li {
    list-style-type: none;
  }
  .navi > .nav-list > li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
  }
  .navi > #nav-check {
      display: none;
  }
  @media (max-width: 480px) {
    .navi {
      padding: 1rem;
    }
    .navi > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
    }
    .navi > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .navi > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .navi > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #1A237E;
      height: 0;
      transition: all 0.3s ease-in;
      top: 40px;
      left: 0;
      overflow: hidden;
    }
    .navi > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
    }
    .navi > #nav-check:checked ~ .nav-list {
      height: calc(100vh - 50px);
    }
  }
  
  .dropdown  img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    object-fit: cover; /* This property ensures the image scales uniformly */
    border-radius: 50%; /* Optional: Makes the logo circular */
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  